.App {
    background-image: url(/public/abstract.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: 0;
    background-size: cover;
    background-position: center;
}